<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="alert alert-primary" role="alert">
  post created successfully!
  <a href ="createPost.html" class= "close" datadismiss ="alert" id ="id_post_created" aria-label="close">&times</a>
</h5>
</div>
<!--<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="card my-4 sticky-top sticky-bottom">
      <div class="card-header"><a href ="sidebar2.html" class= "close" datadismiss ="alert" id ="id_close_post" aria-label="close">&times</a></div>
      <div class="card-body">
        <div class="input-group">
          post created successfully!!
    </div>
  </div>
</div>-->
</body>
</html>
