<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="sidebar.css">
<!--link rel ="stylesheet" href="desktop/html_pgs/lib/bootstrap/cssbootstrap.css"-->
<title></title>
<style>
</style>
</head>
<body>
<div class="container">
  <!--  first row(nev bar)-->
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-7">
    </div>
    <div class="col-2">
    </div>
  </div>

<!--second row-->

    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-7">
        <h1>One of three columns</h1>
        <h1>its clm no2</h1>
        <h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1>v<h1>One of three columns</h1>
        <h1>its clm no2</h1>v
        <h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1>v<h1>One of three columns</h1>
        <h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1><h1>One of three columns</h1>
        <h1>its clm no2</h1>v<h1>One of three columns</h1>
      </div>
      <!--secondrow(3rd clm r1)-->
      <div class="col-2" >
    <!--recent posts -->
       1<div class = "css" style="position: fixed;">


      <div class = "row">
        <div class="login-box card">
          <div class=" my-4 sticky-top sticky-bottom" >
            <h5 class="card-header">Recent Posts</h5>
              <div class="card-body">
                <div class="input-group">
                  <ul class="list-unstyled components">
                    <li class="active">
                      <a href="#" data-toggle="collapse" aria-expanded="false">post1</a>
                    </li>
                    <li>
                      <a href="#">post2</a>
                    </li>
                    <li>
                      <a href="#">post3</a>
                    </li>
                    <li>
                      <a href="#">post4</a>
                    </li>
                    <li>
                      <a href="#">post5</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
         </div>
       </div>

    <!--second row clm3 r2-->
    <!--second row clm3 r2-->
      <div class ="row">
        <div class="login-box card">
          <div class="my-4  sticky-top sticky-bottom">
            <h5 class="card-header">  Trending Tags</h5>
              <div class="card-body">
                <div class="input-group">
                  <ul class="list-unstyled components">
                    <li class="active">
                      <a href="#" data-toggle="collapse" id ="tag_id1" aria-expanded="false">tag1</a>
                    </li>
                    <li>
                      <a href="#" id ="tag_id2">tag2</a>
                    </li>
                    <li>
                      <a href="#" id ="tag_id3">tag3</a>
                    </li>
                    <li>
                      <a href="#" id ="tag_id4">tag4</a>
                    </li>
                    <li>
                      <a href="#" id ="tag_id5">tag5</a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>

    <!--second row clm3 r3-->
    <div class = "btn">
      <div class ="row">
        <a href ="createPost.html"><button id ="btn_create_post" class="btn btn-info">create post</button><a>
      </div>
    </div>

        </div>
      </div>
    </div>

</div>
</body>
</html>
