<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

     <!-- Bootstrap core JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap core JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="css/blog_home.css" rel="stylesheet">

<!--for tooltip text-->
    <script>
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })
    </script>


<!--
  
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   
    <link href="lib/bootstrap/jquery/jquery.min.css" rel="stylesheet">

    
    <link href="lib/bootstrap/js/js.min.css" rel="stylesheet">
-->

    


  </head>
  <body>
    <div class="container-fluid">

            <!--Row 1 -->
      <div class="row sticky" id="navnav">
            <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" id="navnav">
            <!-- Brand/logo -->
                <div class="col-md-1">
                  <div class="frame" style="height: 50px;">
                    <a class="navbar-brand" href="#" text-align = "left"> PROJECT
                        <img src="logo5.png" alt="logo" style="width:50px;">
                     </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="   navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
                  <!--Search bar-->
                  <div class="col-md-6">
                    <form class="form-inline">
                      <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="Search" id="txt_search" style="width:500px;">
                         <div class="input-group-append">
                           <button class="btn btn-dark" id="btn_search" name="btn_search" type="submit">Search</button>
                        </div>
                      </div>
                    </form>
                  </div>

                <!--links-->
                <div class="col-md-1">

                </div>


                <!-- Dropdown -->
               <div class="col-md-2">
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                     
                      <li class="nav-item"><a class="nav-link" href=#>Sign Up /</a></li>
                      <li class="nav-item"><a class="nav-link" href=#> Login</a></li>
        
                <!--login or sign up-->
                      <li class="nav-item"><a href="logout.html"><button class="btn btn-dark" id="btn_search" type="submit">Logout</button></a>
                      </li>
                  </ul>
                </div>
              </div>
        </nav>           
      </div>
      

        <!--Row 2-->
        <div class="row">


            <div class="col-md-2">
                
            </div>


            <div class="col-md-7">
                <div class="container">

                    <div class="row post">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-0.5 padding-0" style="background-color:silver;">  
                            <ul>
                              <li>  <i class="fas fa-long-arrow-alt-up fa-2x"></i>  </li>
                              <li>  <i class="fas fa-long-arrow-alt-down fa-2x"></i>  </li>
                              <li>  <i class="fas fa-share-alt fa-2x"></i>
                              <li>  <i class="fas fa-comment-dots fa-2x"></i>  </li>
                            </ul>
                          </div>
                       
                          <div class="col-md-9 padding-0">  
                              <div class="card-header text-muted">
                                <img src="pp1.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:30px;">
                                Posted on January 1, 2017 by
                                <a href="#">Start Bootstrap</a>
                              </div>

                               
                              <div class="card mb-9">
                                  <div class="card-body">
                                    <p>
                                      <label id="post_content" name="post_content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                                       </label>
                                       <a href="#" class="btn btn-primary">Read &rarr;</a>
                                    </p>                                 </div>

                                  <div class="card-footer text-muted">
                                    <p>
                                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Comments" aria-expanded="false" aria-controls="multiCollapseExample1" id="btn_comment">Comments</button> &nbsp
                                      Posted on January 1, 2017 by
                                    </p>
                                  </div>
                              </div>
                              
                              <div class="collapse multi-collapse" id="Comments">
                                   <div class="card card-body">
                                      <div class="form-group">
                                          <label for="comment">Comment:</label>
                                          <textarea class="form-control" rows="1" id="comment"></textarea>
                                      
                                          <ul>
                                              <li> comment1</li>
                                              <li> comment2</li>
                                              <li> comment3</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row post">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-0.5 padding-0" style="background-color:silver;">  
                            <ul>
                              <li>  <i class="fas fa-long-arrow-alt-up fa-2x"></i>  </li>
                              <li>  <i class="fas fa-long-arrow-alt-down fa-2x"></i>  </li>
                              <li>  <i class="fas fa-share-alt fa-2x"></i>
                              <li>  <i class="fas fa-comment-dots fa-2x"></i>  </li>
                            </ul>
                          </div>
                       
                          <div class="col-md-9 padding-0">  
                              <div class="card-header text-muted">
                                <img src="pp1.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:30px;">
                                Posted on January 1, 2017 by
                                <a href="#">Start Bootstrap</a>
                              </div>

                               
                              <div class="card mb-9">
                                  <div class="card-body">
                                    <p>
                                      <label id="post_content" name="post_content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                                       </label>
                                       <a href="#" class="btn btn-primary">Read &rarr;</a>
                                    </p>                                 </div>

                                  <div class="card-footer text-muted">
                                    <p>
                                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Comments" aria-expanded="false" aria-controls="multiCollapseExample1" id="btn_comment">Comments</button> &nbsp
                                      Posted on January 1, 2017 by
                                    </p>
                                  </div>
                              </div>
                              
                              <div class="collapse multi-collapse" id="Comments">
                                   <div class="card card-body">
                                      <div class="form-group">
                                          <label for="comment">Comment:</label>
                                          <textarea class="form-control" rows="1" id="comment"></textarea>
                                      
                                          <ul>
                                              <li> comment1</li>
                                              <li> comment2</li>
                                              <li> comment3</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div><!--end of col2 of row2-->

                <!--row3 sidebar on right-->
                <div class="col-md-3" >
                    <!--recent posts -->
                    <div class = "css" style="position: fixed;">
                      <div class = "row">
                        <div class="card my-4  sidecard sticky-top sticky-bottom" >

                                  <h5 class="card-header sidecard_header">Recent Posts</h5>
                                  <div class="card-body">
                                    <div class="input-group">
                                      <ul class="list-unstyled components">
                                          <li class="active">
                                              <a href="#" data-toggle="collapse" aria-expanded="false">post1</a>
                                          </li>
                                          <li>
                                              <a href="#">post2</a>
                                          </li>
                                          <li>
                                              <a href="#">post3</a>
                                          </li>
                                          <li>
                                              <a href="#">post4</a>
                                          </li>
                                          <li>
                                              <a href="#">post5</a>
                                          </li>
                                      </ul>

                                    </div>
                                  </div>
                        </div>
                      </div>



                    <!--second row clm3 r2-->
                    <div class ="row">
                    <div class="card my-4 sidecard sticky-top sticky-bottom">
                              <h5 class="card-header sidecard_header">  Trending Tags</h5>
                              <div class="card-body">
                                <div class="input-group">
                                  <ul class="list-unstyled components">
                                      <li class="active">
                                          <a href="#" data-toggle="collapse" aria-expanded="false">tag1</a>
                                      </li>
                                      <li>
                                          <a href="#">tag2</a>
                                      </li>
                                      <li>
                                          <a href="#">tag3</a>
                                      </li>
                                      <li>
                                          <a href="#">tag4</a>
                                      </li>
                                      <li>
                                          <a href="#">tag5</a>
                                      </li>
                                  </ul>

                                </div>
                              </div>
                    </div>
                  </div>


                    <!--second row clm3 r3-->
                    <div class = "btn">
                    <div class ="row">
                    <div class="card my-4 sidecard sticky-top sticky-bottom">
                      <!--        <h5 class="card-header">trending tegs</h5>
                              <div class="card-body">
                                <div class="input-group">
                                -->
                                  <button id ="btn1" class="btn btn-info">create post</button><a>

                            <!--    </div>
                            </div> -->
                    </div>
                  </div>
                </div>

      
            </div><!---end of row2-->

        </div>

  </body>

</html>
